<h1>Books</h1>

<div id="books">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <%= render book %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Add book", new_book_path %>
